body {
  font-family: Comic Sans MS, Comic Sans, Cursive;
  background: #ffffff;
  color: #000000;
  height: 100%;
  width: 100%;
}

html,
.main {
  height: 100%;
  width: 100%;
}

section {
  min-height: 100%;
  min-width: 100%;
}

.main-area {
  border: 5px solid #000000;
  border-radius: 25px;
  padding: 20px;
  margin-top: 5%;
}

.canvasbox {
  border-radius: 3px;
  margin-right: 10px;
  width: 450px;
  height: 338px;
  border-bottom: 3px solid #0063ff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
  background: #333;
}

.camView {
  position: relative;
  float: left;
  width: calc(100% - 20px);
  margin: 10px;
  cursor: pointer;
}

video,
canvas {
  /* override other styles to make responsive */
  width: 100% !important;
  height: auto !important;
}
